.contacts-page
  width 100%
  height auto
  padding-top 50px
  padding-bottom 50px

  .contacts-content
    width 100%
    height auto
    display flex
    display -webkit-flex !important
    flex-direction column
    justify-content center
    align-items center
    margin 0 auto

    .contacts-head
      width 100%
      height auto

      h2
        color #2d2d2d
        font-family "DINPro"
        font-size 26px
        font-weight 300
        line-height 33px
        text-align center
        margin-bottom 20px
        @media (min-width 768px)
          font-size 36px
          font-weight 300
          line-height 46px
          margin-bottom 40px

    .maps
      width 100%
      height 661px
      position relative
      @media (min-width 768px)
        width 100%
        height 490px
      @media (min-width 1280px)
        height 499px
        width 100%

      .maps-info
        width 240px
        height auto
        border 1px solid #f2f2f2
        background-color #ffffff
        padding 20px
        box-sizing border-box
        position absolute
        top 20px
        left 25px
        z-index 1

        h2
          font-family "DINPro"
          color #2d2d2d
          font-size 18px
          font-weight 400
          line-height 23px
          margin-bottom 15px

        p
          color #2d2d2d
          font-size 14px
          font-weight 400
          line-height 26px
          font-family "DINPro"
          margin-bottom 10px

          a
            color #2bacfe
            font-size 14px
            font-weight 500
            line-height 18px
            font-family "DINPro"

          span
            font-weight 500


