.credit-block9
  width 100%
  height auto
  padding-top 50px
  padding-bottom 50px

  .cb9-content
    width 100%
    height auto
    display flex
    display -webkit-flex
    justify-content center
    align-items center
    margin 0 auto

    .cb9-head
      width auto

      h2
        color #2d2d2d
        font-family "DINPro"
        font-size 26px
        font-weight 300
        line-height 33px
        margin-bottom 20px
        @media (min-width 768px)
          font-size 36px
          font-weight 300
          line-height 46px
          margin-bottom 40px

    .cefinans-text
      width 100%
      height auto
      @media (min-width 1280px)
        max-width 860px

      p
        font-family "DINPro"
        font-size 14px
        line-height 18px
        color #2d2d2d
        font-weight 400
        margin-bottom 20px
        @media (min-width 768px)
          font-size 16px
          line-height 21px
        span
          font-weight 500
