.credit-block1
  width 100%
  height auto
  position relative
  background-color #f4f4f4
  padding-top 50px

  .cb1-content
    width 100%
    height auto
    display flex
    display -webkit-flex
    flex-direction column
    justify-content center
    align-items center
    margin 0 auto
    padding-top 40px
    padding-bottom 40px
    overflow visible
    @media (min-width 768px)
      padding-top 126px
      padding-bottom 50px
    @media (min-width 1280px)
      max-width 1112px
      flex-direction row

    .cd-bg
      width 100%
      height 100%
      background-color #f7f7f7
      position absolute
      z-index -1

    .video-block
      width 100%
      height 100%
      overflow hidden
      position absolute
      top 0
      right 0
      z-index 1


      .bgvideo
        width 830px
        height auto
        position absolute
        right -48px
        bottom 0
        @media (min-width 768px)
          width 1515px
          height 620px
        right -117px



    .headcd1-text
      width 100%
      height auto
      margin-bottom 60px
      z-index 2
      @media (min-width 1280px)
        width 50%

      h2
        color #2d2d2d
        font-family "DINPro"
        font-size 26px
        font-weight 700
        line-height 33px
        @media (min-width 768px)
          max-width 676px
          font-size 36px
          font-weight 700
          line-height 46px

      p
        color #2d2d2d
        font-family "DINPro"
        font-size 18px
        font-weight 400
        line-height 23px
        @media (min-width 768px)
          max-width 460px
          font-size 20px
          font-weight 400
          line-height 26px


    .form
      width 100%
      height auto
      z-index 2
      @media (min-width 1280px)
        width 50%

      .form-right
        position relative
        right -800px
        transition ease all 1.5s

      form
        width 280px
        height auto
        border 1px solid #f2f2f2
        background-color #ffffff
        margin 0 auto
        display flex
        flex-direction column
        justify-content flex-start
        align-items center
        padding-top 50px
        padding-bottom 40px
        transition ease all 1.5s

        @media (min-width 768px)
          margin-left 0
          width 390px
          height 300px
          padding-bottom 0
        @media (min-width 1280px)
          margin-left auto
          margin-right 0

        p
          max-width 240px
          color #6a6a6a
          font-family "DINPro"
          font-size 20px
          font-weight 500
          line-height 26px
          text-align center
          margin-bottom 20px
          @media (min-width 768px)
            max-width 310px
            font-size 24px
            font-weight 500
            line-height 31px



        input
          width 240px
          height 58px
          box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.2)
          border-radius 2px
          border 1px solid #f2f2f2
          background-color #f8f8f8
          margin-bottom 20px
          color #7a7a7a
          font-family Roboto
          font-size 14px
          font-weight 300
          font-style italic
          line-height 16px
          text-align center
          @media (min-width 768px)
            width 310px
            height 58px

        button
          width 240px
          @media (min-width 768px)
            width 260px



