.federal-block7
  width 100%
  height auto

  .fs7-content
    width 100%
    height auto

    .fs7-head
      width 100%
      height auto
      margin-bottom 18px

      h2
        color #2d2d2d
        font-family "DINPro"
        font-size 26px
        font-weight 300
        line-height 33px
        text-align center
        padding-top 20px
        padding-bottom 20px
        @media (min-width 768px)
          font-size 36px
          font-weight 300
          line-height 46px


    .cooperation-blocks
      width 100%
      height auto
      display flex
      display -webkit-flex
      flex-direction column
      justify-content center
      align-items center
      @media(min-width 768px)
        flex-flow row wrap
        justify-content space-between

      .cooperation-block
        width 280px
        height 172px
        border 1px solid #f2f2f2
        background-color #ffffff
        padding 20px
        box-sizing border-box
        margin-bottom 20px
        @media(min-width 768px)
          width 323px
          height 184px
        @media (min-width 1280px)
          width 362px
          height 163px

        .cooperation-head
          width 100%
          height auto
          display flex
          display -webkit-flex
          flex-direction row
          justify-content center
          align-items center
          margin-bottom 18px

          img
            width 40px
            height 40px
            margin-right 18px

          p
            color #2d2d2d
            font-family "DINPro"
            font-size 14px
            font-weight 500
            line-height 18px
            text-align left
            @media (min-width 768px)
              font-size 16px
              font-weight 500
              line-height 21px

        .cooperation-info
          width 100%
          height auto

          p
            color #2d2d2d
            font-family "DINPro"
            font-size 14px
            font-weight 400
            line-height 18px

            @media (min-width 768px)
              font-size 16px
              font-weight 400
              line-height 21px

