.federal-block9
  width 100%
  height auto

  .fs7-content
    width 100%
    height auto
    padding-top 50px
    padding-bottom 50px

    .fs7-head
      width 100%
      height auto
      margin-bottom 20px


      h2
        color #2d2d2d
        font-family "DINPro"
        font-size 26px
        font-weight 300
        line-height 33px
        text-align center
        margin-bottom 18px
        @media (min-width 768px)
          font-size 36px
          font-weight 300
          line-height 46px

      p
        color #2d2d2d
        font-family "DINPro"
        font-size 18px
        font-weight 400
        line-height 23px
        text-align center
        @media (min-width 768px)
          font-size 20px
          font-weight 400
          line-height 26px

    .logo-block
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column
      border-top 1px solid #f2f2f2
      border-bottom 1px solid #f2f2f2
      padding-top 40px
      padding-bottom 40px
      margin-bottom 40px
      @media (min-width 768px)
        flex-flow row wrap
        justify-content space-around
      @media (min-width 1280px)
        justify-content space-between

      img
        margin-bottom 30px



    a
      margin 0 auto
      button
        margin 0 auto

div.hiddensection
  width auto
  height auto
  display none
  position absolute
  bottom 0
  right 0
  background-image linear-gradient(180deg, rgba(22, 79, 89, 0.8) 0%, rgba(0, 26, 72, 0.8) 100%)
  z-index 999

.partners-popup
  width 250px
  height auto
  background-color f9f9f9
  display flex
  flex-direction column
  justify-content center
  align-items center
  box-sizing border-box
  padding 0 0
  text-align center
  margin 0 auto
  @media (min-width: 768px)
    width 600px

  p
    color #2d2d2d
    font-family "DINPro"
    font-size 16px
    font-weight 400
    line-height 23px
    text-align center
    margin-bottom 20px
    @media (min-width 768px)
      font-size 20px
      font-weight 400
      line-height 23px

  form
    display flex
    display -webkit-flex
    justify-content center
    align-items center
    flex-direction column
    input
      width 200px
      margin-bottom 20px
      text-align center
      @media (min-width 768px)
        width 350px
    button
      width 200px
      margin-bottom 20px
      @media (min-width 768px)
        width 268px