.federal-block8
  width 100%
  height auto
  background-color #f6f6f6
  padding-top 78px
  padding-bottom 78px
  padding-left 20px
  padding-right 20px
  box-sizing border-box
  position relative
  @media (min-width 768px)
    padding-top 100px
    padding-bottom 100px

  .q-fs
    background-image url("img/shield-img.png")
    background-repeat no-repeat
    background-position center
    opacity 0.3
    z-index 1
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    @media (min-width 1280px)
      opacity 1.0
      background-position right



  .fs7-content
    width 100%
    height auto
    display flex
    display -webkit-flex !important
    justify-content flex-start
    flex-direction column
    align-items flex-start
    z-index 1
    margin 0 auto

    .fs7-head
      width 100%
      height auto
      z-index 1

      h2
        color #2d2d2d
        font-family "DINPro"
        font-size 26px
        font-weight 700
        line-height 33px
        text-align left
        max-width 605px

        @media (min-width 768px)
          font-size 36px
          font-weight 700
          line-height 46px

      p
        color #2d2d2d
        font-family "DINPro"
        font-size 18px
        font-weight 400
        line-height 23px
        text-align left
        max-width 550px
        @media (min-width 768px)
          font-size 20px
          font-weight 400
          line-height 26px

    form
      max-width 300px
      height auto
      margin-top 40px
      z-index 1

      input
        margin-bottom 18px
        border none
        outline none
        padding-left 8px
        color #7a7a7a
        font-family Roboto
        font-size 14px
        font-weight 300
        font-style italic
        line-height 16px

