.home-page3
  width 100%
  height auto
  padding-top 20px
  padding-bottom 20px
  @media (min-width 768px)
    padding-top 100px
    padding-bottom 70px


  .page3-content
    height auto
    display flex
    flex-direction column
    justify-content center
    align-items center
    display -webkit-flex !important
    margin 0 auto


    .page3-head
      width 100%
      height auto

      h2
        color #2d2d2d
        font-family "DINPro"
        font-size 26px
        font-weight 300
        line-height 33px
        text-align center
        @media (min-width 768px)
          font-size 36px
          font-weight 300
          line-height 46px

    .table-result
      width auto
      height auto
      display flex
      flex-direction column
      justify-content center
      align-items center

      .table-head
        width 100%
        height auto
        display flex
        flex-direction column
        justify-content center
        align-items center
        padding 18px 0
        @media (min-width 768px)
          flex-direction row

        .text-left
          margin-bottom 18px
          width 210px
          height 21px
          @media (min-width 768px)
            margin-bottom 0
            margin-right 18px
          p
            color #2d2d2d
            font-family "DINPro"
            font-size 16px
            font-weight 500
            line-height 21px
            box-sizing border-box

        .switch
          width 78px
          height 40px
          border-radius 100px
          border 1px solid #cacaca
          background-color #f8f8f8
          box-sizing border-box


          .switch-tap
            width 38px
            height 38px
            box-shadow 0 2px 4px rgba(0, 0, 0, 0.12)
            border 2px solid #ffffff
            background-color #4ab9ff
            background-image linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%)
            border-radius 100%
            box-sizing border-box
            position relative
            left 0
            transition all 0.2s ease-out


          .switch-click
            left 38px

        .text-right
          margin-top 18px
          width 210px
          height 21px
          @media (min-width 768px)
            margin-top 0
            margin-left 18px
          p
            color #a9a9a9
            font-family "DINPro"
            font-size 16px
            font-weight 400
            line-height 21px
            box-sizing border-box

        .text-active
          color #2d2d2d!important
          font-weight 500!important
        .text-noactive
          color #a9a9a9!important
          font-weight 400!important




      .table-review
        width 100%
        height auto
        display flex
        flex-flow row wrap
        justify-content center
        align-items center

        @media (min-width 1280px)
          flex-flow row
          align-items flex-start

        .table1, .table2
          display flex
          flex-direction column
          justify-content center
          align-items center
          @media (min-width 1280px)
            flex-direction column


        .result-block
          display flex
          display -webkit-flex
          flex-flow row wrap
          justify-content center
          align-items flex


        .table
          width 100%
          height auto
          @media (min-width 1280px)
            width 50%
          .table-position
            @media (min-width 768px)
              width auto
              height auto
              display flex
              flex-direction row
              justify-content center
              align-items center

            table
              width 100%
              border 1px solid #f2f2f2
              margin-bottom 20px
              @media (min-width 768px)
                width 50%
                height auto
                margin-bottom 0

              tr:nth-child(odd)
                border 1px solid #f2f2f2
                background-color #f8f8f8

              th
                display flex
                flex-direction row
                justify-content flex-start
                color #2d2d2d
                font-family "DINPro"
                font-size 20px
                font-weight 300
                line-height 26px
                padding 14px 20px

                img
                  width auto
                  height auto
                  margin-right 18px

                p
                  width auto
                  height auto

              td
                border 1px solid #f2f2f2
                padding 14px 20px
                display flex
                flex-direction row
                justify-content space-between
                align-items center

                p
                  max-width 40%
                  color #2d2d2d
                  font-family "DINPro"
                  font-size 14px
                  font-weight 400
                  line-height 18px

                span
                  width auto
                  color #2d2d2d
                  font-family "DINPro"
                  font-size 14px
                  font-weight 500
                  line-height 18px

        .cash
          width auto
          height auto
          display flex
          flex-direction row
          justify-content space-between
          align-items center
          border 1px solid #f2f2f2
          background-color #ffffff
          padding 14px 20px
          margin-bottom 20px



          .green-text
            color #80c453
            font-family "DINPro"
            font-size 20px
            font-weight 400
            line-height 26px

        .review
          width 100%
          height auto
          display flex
          flex-direction column
          justify-content center
          align-items center
          margin-bottom 20px
          @media (min-width 1280px)
            width 50%

          .review-head
            width 100%
            height auto
            border 1px solid #f2f2f2
            background-color #f8f8f8
            padding 14px 20px
            box-sizing border-box

            h3
              width 100%
              color #2d2d2d
              font-family "DINPro"
              font-size 20px
              font-weight 300
              line-height 26px

          .review-text
            width auto
            height auto
            padding 15px 20px
            border 1px solid #f2f2f2
            @media (min-width 768px)
              height 275px

            p
              color #2d2d2d
              font-family Roboto
              font-size 14px
              font-weight 300
              font-style italic
              line-height 22px
              margin-bottom 18px

            .persone
              width auto
              height auto
              display flex
              flex-direction row
              justify-content flex-start
              align-items center
              @media (min-width 768px)
                justify-content flex-start

              img
                margin-right 18px

              p
                max-width 200px
                color #2d2d2d
                font-family "DINPro"
                font-size 14px
                font-weight 500
                line-height 18px
                margin 0


                span
                  color #2d2d2d
                  font-family "DINPro"
                  font-size 14px
                  font-weight 400
                  line-height 18px

        .table-novisible
          display none









