.home-page1
  width 100%
  height auto
  background-image linear-gradient(180deg, rgba(244,244,244,1) 95%, rgba(255,255,255,1) 100%)
  padding-top 50px

  .page1-content

    .slider-position
      max-width 100%
      position relative

      .slider-page1
        position relative
        height auto

        .slide
          display flex
          flex-direction column
          justify-content center
          align-items center
          width 100%
          height auto
          overflow hidden
          position relative
          background-color #f6f6f6
          padding-top 50px
          padding-bottom 70px
          @media (min-width 768px)
            padding-top 150px
            padding-bottom 140px

          .bg1, .bg2, .bg3, .bg4, .bg5
            width 100%
            height 100%
            background-size auto 100%
            background-repeat no-repeat
            background-position 88% 50%
            opacity 0.3
            z-index 0
            position absolute
            top 0
            left 0
            @media (min-width 768px)
              background-position 100% 50%
              background-size auto
            @media (min-width 1280px)
              background-position 100% 50%
              background-size auto
              opacity 1

          .bg1
            background-image url("img/back2-page1.png")
          .bg2
            background-image url("img/slider-img2.jpg")
          .bg3
            background-image url("img/slider-img3.jpg")
          .bg4
            background-image url("img/slider-img4.jpg")
          .bg5
            background-image url("img/slider-img5.jpg")

          .slide-content
            display flex
            justify-content flex-start
            align-items flex-start
            flex-direction column
            padding 0 15px
            z-index 1
            @media (min-width 1280px)
              width 1112px

            h1
              max-width 610px
              color #2d2d2d
              font-family "DINPro"
              font-size 26px
              font-weight 700
              line-height 33px
              margin-bottom 18px
              z-index 99

              @media(min-width: 768px)
                font-family "DINPro"
                font-size 36px
                font-weight 700
                line-height 46px
            p
              max-width 610px
              color #2d2d2d
              font-family "DINPro"
              font-size 18px
              font-weight 400
              line-height 23px
              margin-bottom 40px
              z-index 99
              @media(min-width: 768px)
                font-family "DINPro"
                font-size 20px
                font-weight 400
                line-height 26px

            a
              z-index 1


    .slide-control
      width 100%
      display flex
      flex-direction row
      justify-content center
      align-items center
      padding-top 0
      padding-bottom 30px
      z-index 2
      @media(min-width: 768px)
        display flex
        flex-direction row
        justify-content center
        align-items center
        padding-top 30px


      .control-position
        width 280px
        height auto
        display flex
        flex-direction row
        justify-content center
        align-items center
        @media(min-width: 768px)
          width 280px
          height auto
          display flex
          flex-direction row
          justify-content center
          align-items center

        .prewArrow1
          width 34px
          height 12px
          cursor pointer
          @media(min-width: 768px)
            width 34px
            height 12px
            cursor pointer

        .nextArrow1
          width 34px
          height 12px
          cursor pointer
          @media(min-width: 768px)
            width 34px
            height 12px
            cursor pointer





