.home-page2
  width 100%
  height auto
  padding-top 70px
  padding-bottom 50px

  .page2-content
    height auto
    display flex
    display -webkit-flex !important
    flex-direction column
    justify-content center
    align-items center
    margin 0 auto

    .page2-head
      width 100%
      height auto
      display flex
      justify-content center
      align-items center

      h2
        width
        color #2d2d2d
        font-family "DINPro"
        font-size 26px
        font-weight 300
        line-height 33px
        text-align center
        padding 0 54px
        @media (min-width 1280px)
          font-size 36px
          font-weight 300
          line-height 46px
          padding 0 0

    .services-blocks
      width 100%
      height auto
      display flex
      flex-flow row wrap
      justify-content center
      align-items center
      padding-top 20px
      position relative
      @media (min-width 1280px)
        width 100%
        height auto
        display flex
        flex-flow row wrap
        justify-content space-between
        align-items center
        padding-top 40px

      .mortgage
        .s-bg
          background-image url("img/mortgage-p2.png")
          background-size auto
          background-repeat no-repeat
          background-position right
          opacity 0.3
          z-index 0
          position absolute
          top 0
          left 0
          width 100%
          height 118%
          transition ease-out 0.3s
          &:hover
            top 15px
          @media (min-width 1280px)
            opacity 1.0

      .credit
        .s-bg
            background-image url("img/credit-p2.png")
            background-size auto
            background-repeat no-repeat
            background-position right
            opacity 0.3
            z-index 0
            position absolute
            top 0
            left 0
            width 100%
            height 110%
            transition ease-out 0.3s
            &:hover
              top 15px
            @media (min-width 1280px)
              opacity 1.0

      .fed-network
        .s-bg
          background-image url("img/fednetwork-p2.png")
          background-size auto
          background-repeat no-repeat
          background-position right
          opacity 0.3
          z-index 0
          position absolute
          top 0
          left 0
          width 100%
          height 100%
          transition ease-out 0.3s
          &:hover
            top 15px
          @media (min-width 1280px)
            opacity 1.0
      .reg-network
        .s-bg
          background-image url("img/regnetwork-p2.png")
          background-size auto
          background-repeat no-repeat
          background-position right
          opacity 0.3
          z-index 0
          position absolute
          top 0
          left 0
          width 100%
          height 112%
          transition ease-out 0.3s
          &:hover
            top 15px
          @media (min-width 1280px)
            opacity 1.0
      .no-point
        .s-bg
          background-image url("img/nopoint-p2.png")
          background-size auto
          background-repeat no-repeat
          background-position right
          opacity 0.3
          z-index 0
          position absolute
          top 0
          left 0
          width 100%
          height 104%
          transition ease-out 0.3s
          &:hover
            top 15px
          @media (min-width 1280px)
            opacity 1.0











