.partners
  width 100%
  height auto
  padding-top 50px
  padding-left 0
  padding-right 0

  .partners-content
    width 100%
    height auto
    display flex
    display -webkit-flex !important
    flex-direction column
    justify-content center
    align-items center
    margin 0 auto

    .partners-head
      width 100%
      height auto
      margin-bottom 20px

      h2
        color #2d2d2d
        font-family "DINPro"
        font-size 26px
        font-weight 300
        line-height 33px
        text-align center
        @media (min-width 768px)
          font-size 36px
          font-weight 300
          line-height 46px

    .logo-content
      width 100%
      height auto
      display flex
      justify-content center
      background-color #f8f8f8
      padding-top 57px
      padding-bottom 20px
      padding-right 20px
      padding-left 20px
      box-sizing border-box
      @media (min-width 1280px)
        padding-right 84px
        padding-left 84px

      .logo-position
        display flex
        flex-flow row wrap
        justify-content space-between
        align-items center
        img
          width 103px
          height auto
          margin-bottom 44px
          margin-left 8px
          margin-right 8px
          filter grayscale(100%)
          transition all 0.3s
          @media (min-width 768px)
            min-width 116px
            margin 44px 30px
          &:hover
            filter none


