section#company.company.cnt
    div.company-content.row
        div.company-head
            h2 О компании
        div.company-img
            img(src="img/company.jpg")

        div.company-text
            p 40 тысяч человек в год уже получают кредиты через клиентов ООО «ПФ Финанс» в более чем 200 торговых точках в 84 городах России.

            p Нас выбрали крупнейшие владельцы косметологических центров и оздоровительных салонов, такие как Виннер Даниэль, Семён Дойбан, Игорь Несимбоим, Вячеслав Шаулов, Эдуард Клипер. Среднегодовой оборот привлеченных кредитных средств наших клиентов составляет 10 млрд рублей, а средний процент одобрения заявок на выдачу кредитов 75%, и мы продолжаем его увеличивать.

            p ООО «ПФ Финанс» работает с 2013 года в режиме 7 дней в неделю, чтобы обеспечить обучение персонала точек продаж, и бесперебойную техническую и организационную поддержку всех наших клиентов. Быстрый доступ к кредитованию через банки-партнеры может быть обеспечен уже в течение 2х недель для новых клиентов – юридических лиц, и в течение всего 2х дней – для физических лиц.
