section#contacts.contacts-page.cnt
    div.contacts-content.row
        div.contacts-head
            h2 Контакты

        div#map.maps
            div.maps-info
                h2 ООО «ПФ Финанс»

                p Юридический адрес: <br>
                    span 123182, г. Москва, ул. Авиационная, 77

                p Электронная почта:<br>
                   a(href="mailto:pf-finans@pf-finans.com") pf-finans@pf-finans.com

                p Телефон для связи:<br>
                   a(href="tel:8(495)252-07-31") 8 (495) 252-07-31

                p Время работы:
                    span <br> Пн-Пт с 09:00 до 20:00
                    span <br> Сб-Вс с 10:00 до 20:00

                p ОГРН:
                    span 1137746773691

                p ИНН:
                    span 7734707068
