section.credit-block9.cnt
    div.cb9-content.row
        div.cb9-head
            h2 Об ипотечном кредитовании
        div.cefinans-text
            p
                span Ипотечное кредитование
                |— это целевой вид кредитования, при котором получение денежных средств  осуществляется на приобретение объекта недвижимости. При этом сама приобретаемая недвижимость поступает в ипотеку (залог) банку как гарантия возврата кредита до того момента, пока заёмщик не выполнит своих финансовых обязательств.

            p Фактически ипотечное кредитование осуществляется на
                span два вида недвижимости
                | — жилую и нежилую, т.е. коммерческую. Рынок недвижимости делиться на первичный и вторичный.
                span Первичный рынок недвижимости
                | предполагает инвестирование средств до того момента, как начато строительство объекта недвижимости или он сдан в  эксплуатацию.
                span Вторичный рынок недвижимости
                | предполагает куплю-продажу  уже готового объекта недвижимости.

            p Отечественный рынок ипотеки предполагает получение кредита на недвижимость в двух исходных вариантах:

            p 1)
                span ипотека с первоначальным взносом,
                | т.е. когда заёмщик обязан осуществить обязательный первый взнос в выражении некого фиксированного процента от суммарной оценочной стоимости объекта;

            p 2)
                span ипотека без первоначального взноса,
                | т.е. фактически получить объект в пользование кредитуемый может без внесения каких либо начальных сумм, и начнёт оплачивать кредит с момента, предусмотренного кредитным договором, как правило, это со следующего месяца.

            p Варианты
                span выплаты ипотечного кредита
                | делятся на два типа:
                span дифференцированный платеж,
                | т.е. когда совместно с выплатой процентов за пользование кредитом идёт процесс частичной выплаты тела кредита, в такой способ ежемесячно общая сумма выплат уменьшается; и аннуитетный платеж, т.е. когда с учётом срока кредитования и фиксированной процентной ставки пользования кредитом на весь срок, ежемесячная сумма выплат является одинаковой и не меняющейся на протяжении всего срока действия кредитного договора.

            p
                span Сроки ипотечного кредитования разные.
                | Отечественный финансовый рынок, как правило, предлагает временные промежутки от 5 до 30 лет. Но нужно отдавать себе отчёт в том, что вместе с ростом срока выплаты кредита растёт и сама цена кредита.

            p В России начиная с 2012 года ежегодно банками выдается ипотечных кредитов
                span более чем на 1 триллион рублей.