section.credit-block1.cnt
    div.cb1-content.row
        div.cd-bg
        div.video-block
            video.bgvideo(autoplay muted)
                source(src="img/videos/anim-02.mov")
        div.headcd1-text
            h2 Получите ипотеку от 8% или без первоначального взноса
            p Мы предложим лучшие условия на рынке ипотечного кредитования, подходящие лично Вам, и грамотно оформим все необходимые документы. Мы отстаиваем интересы клиента и берем на себя все общение с банками.

        div#form1.form
            form.form-right(method="post" action="mailer.php")
                p Получите бесплатную консультацию сейчас
                input.inp(placeholder="Ваш контактный телефон" name="phone")
                button.button-blue(type="submit") Хочу получить ипотеку!