section.credit-block7.cnt
    div.cb7-content.row
        div.cb7-head
            h2 Что мы можем сделать для вас
        div.cb7-infobloks
            div.cb7-infoblok
                div.inf-img
                    img(src="img/good-icon.svg")
                div.inf-text
                    p Подберем
                        span  несколько программ кредитования
                        |, что принесет максимальную выгоду
            div.cb7-infoblok
                div.inf-img
                    img(src="img/good-icon.svg")
                div.inf-text
                    p Согласуем минимально возможный
                        span  первоначальный взнос – от 0%

            div.cb7-infoblok
                div.inf-img
                    img(src="img/good-icon.svg")
                div.inf-text
                    p Оформим Вам кредит на покупку или под залог
                        span  любой недвижимости
                        | (квартиры, комнаты, доли, загородная и коммерческая недвижимости)
            div.cb7-infoblok
                div.inf-img
                    img(src="img/good-icon.svg")
                div.inf-text
                    p Предоставим такие уникальные финансовые инструменты, как
                        span  дифференцированный платеж или списание основного долга 1 раз в 2 недели
            div.cb7-infoblok
                div.inf-img
                    img(src="img/good-icon.svg")
                div.inf-text
                    p Подадим заявки в
                        span  несколько банков одновременно,
                        | что сэкономит вам массу времени

            div.cb7-infoblok
                div.inf-img
                    img(src="img/good-icon.svg")
                div.inf-text
                    p Возьмем на себя взаимодействие с оценочными и страховыми компаниями, предложив оптимальные тарифы,
                        span  что сэкономит вам время и деньги

