section.credit-block8.cnt
    div.cb8-bg
    div.cb8-content.row
        div.cb8-head
            h2 Улучшите свои жилищные условия
            p Уже через 14 дней вы оформите сделку!

        form(action="mailer.php" method="post")
            input.inp(placeholder="Ваш контактный телефон" name="phone" required)
            button.button-blue(type="submit") Получить консультацию
