section.refinans-block6.cnt
    div.rb6-bg
    div.rb6-content
        div.rb6-head
            h2 Оставьте заявку на получение ипотечного кредита
            p Уже через 14 дней вы купите квартиру со ставкой от 8% или первоначальным взносом от 0%

        form(action="mailer.php" method="post")
            input.inp(placeholder="Ваш контактный телефон" name="phone" required)
            button.button-blue(type="submit") Получить консультацию
