section.credit-block11.cnt
    div.cb11-bg
    div.cb11-content.row
        div.cb11-head
            h2.red-text Теперь вы можете закрыть сайт
            p 1. Если Вас не волнует переплата по ипотеке!
            p 2. Вам некуда вкладывать сэкономленные деньги!

            h2.green-text Или сделать правильный выбор
            p Получите консультацию специалистов «ПФ Финанс»



        form(action="mailer.php" method="post")
            input.inp(placeholder="Ваш контактный телефон" name="phone" required)
            button.button-blue(type="submit") Получить консультацию
