section.federal-sec4
    div.fs4-content
        div.fs4-head.cnt
            h2 Что происходит на самом деле в вашем бизнесе и почему от вас уходят клиенты?
            p
                span 18 950
                |  рублей в день /
                span  568 500
                |  рублей в месяц /
                span  6 822 000
                |  рублей в год наши клиенты инвестируют в рекламу

        div.statistic
            div.statistic-content.row
                div.statistic-block
                    h3 Контекстная <br>реклама
                    p 5000 руб./день
                    span 10%
                div.statistic-block
                    h3 Тематические <br>площадки
                    p 500 руб./день
                    span 5%
                div.statistic-block
                    h3 Продвижение <br>в SEO
                    p 1000 руб./день
                    span 10%
                div.statistic-block
                    h3 Продвижение <br>в SMM
                    p 5000 руб./день
                    span 10%
                div.statistic-block
                    h3 Контент <br>маркетинг
                    p 700 руб./день
                    span 9%
                div.statistic-block
                    h3 Оффлайн <br>реклама
                    p 650 руб./день
                    span 8%
                div.statistic-block
                    h3 Конеренции <br>и выставки
                    p 400 руб./день
                    span 6%
                div.statistic-block
                    h3 Медийная <br>реклама
                    p 1000 руб./день
                    span 4%
                div.statistic-block
                    h3 Видео <br>маркетинг
                    p 1500 руб./день
                    span 7,5%
                div.statistic-block
                    h3 Email <br>рассылки
                    p 500 руб./день
                    span 1,5%
                div.statistic-block
                    h3 СРА сети
                    p 1700 руб./день
                    span 5%
                div.statistic-block
                    h3 Деловые <br>контакты
                    p Бесценно
                    span 1%
                button.button-white.statistic-visible Показать ещё