doctype html
html(lang="en")
    head
        include head
    body
        include header-blue
        include federal-block1
        include federal-block2
        include federal-block3
        include federal-block4
        include federal-block5
        include federal-block6
        include federal-block7
        include federal-block8
        include federal-block9
        include federal-block10
        include federal-block11
        include federal-block12
        include home-page2
        include refinans-block11
        include footer


