section.federal-block7.cnt
    div.fs7-content.row
        div.fs7-head
            h2 Преимущества сотрудничества с ПФ Финанс

        div.cooperation-blocks
            div.cooperation-block
                div.cooperation-head
                    img(src="img/bank_system-icon.svg")
                    p Мы объединили крупнейшие банки в одной системе
                div.cooperation-info
                    p Вам нет необходимости отправлять несколько заявок на кредитование вашихклиентов в различные банки
            div.cooperation-block
                div.cooperation-head
                    img(src="img/document-icon.svg")
                    p Единая анкета для всех банков
                div.cooperation-info
                    p Для вашего удобства мы создали единую анкету, нет необходимости заполнять различные формы анкет банков
            div.cooperation-block
                div.cooperation-head
                    img(src="img/procent-icon.svg")
                    p Высокий процент одобрения кредитных заявок
                div.cooperation-info
                    p Ваш клиент получает решение сразу в нескольких банках и выбирает подходящий вариант
            div.cooperation-block
                div.cooperation-head
                    img(src="img/card-icon.svg")
                    p Лучшие условия кредитования
                div.cooperation-info
                    p Мы предлагаем вам и вашим клиентам только лучшие условия по кредитам и рассрочкам
            div.cooperation-block
                div.cooperation-head
                    img(src="img/time_min-icon.svg")
                    p Оперативное получение средств от банка
                div.cooperation-info
                    p Вы получаете деньги уже на следующий день после подписания договора
            div.cooperation-block
                div.cooperation-head
                    img(src="img/window-icon.svg")
                    p Работа с программным обеспечением
                div.cooperation-info
                    p Быстрое предоставление доступов для работы в ПО. Проведение видео обучения онлайн и поддержка 7 дней в неделю.
            div.cooperation-block
                div.cooperation-head
                    img(src="img/persone-icon.svg")
                    p Персональный менеджер
                div.cooperation-info
                    p Менеджер курирует торговую точку и самостоятельно ведет документооборот
            div.cooperation-block
                div.cooperation-head
                    img(src="img/chain-icon.svg")
                    p Подключение в день обращения
                div.cooperation-info
                    p Возможность начать работу после аккредитации хотя бы одного из банков
            div.cooperation-block
                div.cooperation-head
                    img(src="img/alians-icon.svg")
                    p Сотрудничество — бесплатно!
                div.cooperation-info
                    p Самое главное — вы получаете прямые условия сотрудничества банков!

