section.federal-block2.cnt
    div.fb2-content
        div.info-block
            img(src="img/mail-icon.svg")
            p Отправляйте 1 заявку на кредит сразу во все банки
        div.info-block
            img(src="img/doc-icon.svg")
            p Сократите рассмотрение анкеты до 1 минуты
        div.info-block
            img(src="img/statistic-icon.svg")
            p Получите удобный интерфейс для ваших менеджеров
        div.info-block
            img(src="img/percent-icon.svg")
            p Увеличьте объём ваших продаж!