section.federal-sec5
    div.fs5-content
        h1 Что происходит на самом деле в вашем бизнесе ?
        div.worsening-blocks.row
            div.worsening-block
                img(src="img/shop-icon.svg")
                p В современных экономических условиях покупательская способность населения существенно снизилась.
            div.worsening-block
                img(src="img/percent_red-icon.svg")
                p Высокая инфляция и снижение стоимости национальной валюты приводят к удорожанию товаров и падению продаж.


        div.advantages-indicators
            div.advanindic-content

                div.indicators.cnt
                    div.indicators-head
                        img(src="img/error-big.svg")
                        div.indicators-text
                            h2 Почему уходят клиенты
                            p Как показала аналитика, у более 100 наших клиентов до сотрудничества с нами потеря клиентов чаще всего была вызвана следующими факторами:

                    div.indicators-bad
                        div.indicat_bad-block
                            img(src="img/bad-icon.svg")
                            p Клиента не устраивает переплата по кредиту
                        div.indicat_bad-block
                            img(src="img/bad-icon.svg")
                            p Отказал единственный банк-партнёр
                        div.indicat_bad-block
                            img(src="img/bad-icon.svg")
                            p Клиент не подошел под требования банка
                        div.indicat_bad-block
                            img(src="img/bad-icon.svg")
                            p Слишком длительное время оформления кредита
                        div.indicat_bad-block
                            img(src="img/bad-icon.svg")
                            p Клиента не устроила процентная ставка
                        div.indicat_bad-block
                            img(src="img/bad-icon.svg")
                            p Клиента не устроил лимит по кредиту
                        div.indicat_bad-block
                            img(src="img/bad-icon.svg")
                            p Банк затребовал дополнительные документы





                div.advantages-blocks
                    div.advantages-head
                        img(src="img/ok-big.svg")
                        div.advantages-text
                            h2 Этого можно избежать
                            p За счет внедрения потребительского кредитования с "ПФ Финанс":

                    div.advantages-good
                        div.advantages-block
                            img(src="img/good-icon.svg")
                            p Увеличивает финансовую доступность товаров в вашей торговой точке
                        div.advantages-block
                            img(src="img/good-icon.svg")
                            p Возрастает объём продаж за счет кредитного оборота на 50-80%
                        div.advantages-block
                            img(src="img/good-icon.svg")
                            p Новых покупателей становится больше на 70-90%
                        div.advantages-block
                            img(src="img/good-icon.svg")
                            p Число импульсных покупок повышается
                        div.advantages-block
                            img(src="img/good-icon.svg")
                            p Множится число постоянных клиентов и повторных покупок на 70%