section.federal-block8
    div.q-fs
    div.fs7-content.row
        div.fs7-head
            h2 Обеспечиваем защиту персональных данных клиентов!
            p Мы четко выполняем требования законодательства РФ, касающиеся обработки, хранения и передачи персональных данных граждан.


