section.federal-block12.cnt
    div.fb12-content.row
        div.fb12-head
            h2 О потребительском кредитовании
        div.federal-text
            p Кредитование в современном мире развито настолько хорошо, что большая часть крупных покупок осуществляется путем оформления банковского займа. Получить ссуду может практически каждый желающий, отвечающий минимальным требованиям банка. Самым распространенным видом займа на сегодня является потребительский кредит.

            p Потребительский кредит — кредит, предоставляемый непосредственно гражданам (домашним хозяйствам) для приобретения предметов потребления. Такой кредит берут не только для покупки товаров длительного пользования (квартиры, мебель, автомобили и т. п.), но и для прочих покупок (мобильные телефоны, бытовая техника, продукты питания). Он выступает или в форме продажи товаров с отсрочкой платежа, или в форме предоставления банковской ссуды на потребительские цели.

            p Кредит на покупку товаров или целевой кредит — выдается заемщику в товарной форме. Оформление ссуды производится, как правило, в магазине, где потребитель выбирает необходимую ему продукцию. Это может быть любой товар, но в пределах установленных банком лимитом суммы. Товар дешевле 3 000 купить в кредит не получится.

            p Также целевой кредит распространяется на приобретение услуг в различных организациях (к примеру, оплата дополнительного образования, оплата лечения в клинике и т.п.).

            p.black-text — покупка в кредит спасает от возможности подорожания товара в будущем;
            p.black-text — покупка в кредит спасает от возможности исчезновения товара с прилавков;
            p.black-text — покупка в кредит позволяет купить на месте товар нужной модификации, при условии, что он есть в наличии;
            p.black-text — покупка в кредит позволяет купить вещь в момент её наивысшей актуальности для покупателей;
            p.black-text — покупка в кредит позволяет оплачивать товар несущественными платежами на протяжении нескольких месяцев.