section.federal-sec3.cnt
    div.fs3-content.row
        div.fs3-head
            h2 С нами легче
        div.pros
            div.pros1
                img(src="img/mail-icon.svg")
                p 1 заявка

            div.pros2
                img(src="img/time-icon.svg")
                p 1 минута

            div.pros3
                img(src="img/bank-icon.svg")
                p от 4-х банков

        div.predestination
            div.stationary-shops.bitmap
                div.case-discription
                    h3 Для стационарных <br> магазинов
                    p Не требует сложной интеграции или программирования!
            div.internet-shops.bitmap
                div.case-discription
                    h3 Для интернет <br> магазинов
                    p Не требует сложной интеграции или программирования!
            div.exit-trade.bitmap
                div.case-discription
                    h3 Для выездной <br> торговли
                    p Не требует сложной интеграции или программирования!
            div.sphere-services.bitmap
                div.case-discription
                    h3 Для сферы <br> услуг
                    p Не требует сложной интеграции или программирования!
            div.contracts.bitmap
                div.case-discription
                    h3 Для строительных и <br> ремонтных подрядов
                    p Не требует сложной интеграции или программирования!