section.federal-block9.cnt
    div.fs7-content.row
        div.fs7-head
            h2 Наши банки-партнёры
            p Крупнейшие банки-лидеры рынка потребительского кредитования в России


        div.logo-block
            img(src="img/alfabank-logo.png")
            img(src="img/logo-renessans-kredit.png")
            img(src="img/tinkoffbank-general-logo-3.png")
            img(src="img/logo-vostochniy-express-bank.png")
            img(src="img/evrobank-logo.png")

        a.fancybox(href="#partners")
            button.button-blue Подробнее о партнёрах

div.hiddensection
    div#partners.partners-popup

        p Внимание! Текст.
        form(method="post" action="mailer.php")
            input.inp(name="phone" placeholder="Ваш контактный телефон")
            button.button-blue(type="submit") Стать партнёром


