footer.footer.cnt
    div.footer-content.row
        div.comp-menu
            p Компания

            ul
                li
                    a(href="#") О компании
                li
                    a(href="#") Новости
                li
                    a(href="#") Отзывы
                li
                    a(href="#") Контакты

                p.ogrn ОГРН 1137746773691
                p.inn ИНН 7734707068
        div.serv-menu
            p Услуги
            ul
                li
                    a(href="#") Ипотечное кредитование
                li
                    a(href="#") Рефинансирование ипотеки
                li
                    a(href="#") Потребительское кредитование для федеральных сетей
                li
                    a(href="#") Потребительское кредитование для региональных сетей
                li
                    a(href="#") Потребительское кредитование для не сетевых точек продаж

        div.pay
            div.pay-content

                 h3 Мы принимаем к оплате

                 div.card-icon
                     img(src="img/visa-icon.png")
                     img(src="img/mastercard-icon.png")

                 input(placeholder="Поиск по сайту")
                 div.nt-logo
                    a(href="http://next-team.ru/")
                        img(src="img/nextteam-logo.png")

        div.nav
            ul
                li
                    a(href="#") Компания
                li
                    a(href="#") Услуги
                li
                    a(href="http://next-team.ru/")
                        img(src="img/nextteam-logo.png")

div.footer-end.cnt
    div.fe-content
        p 2017 «ПФ Финанс». Все права защищены.
        a.fancybox(href="#politic") Политика конфиденциальности

div.hiddensection
    div#politic.politic
        p Политика конфиденциальности

        p Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.

        p Все лица, заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.

        p Под персональными данными Гражданина понимается нижеуказанная информация: общая информация (имя и адрес электронной почты, телефон).

        p Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.

        p Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц; вся предоставленная информация заполнена Гражданина в отношении себя лично.