header.header-blue.cnt
    div.headerblue-content.row

        div.logo
            a(href="index.php")
                img(src="img/min-logowhite.svg" alt="" class="min-logo")
                img(src="img/logo-white.svg" class="big-logo")

        div.menu-container
            ul
                li.menu-item
                    a(href="company-page.php") О компании
                li.menu-item
                    a(href="services-page.php") Услуги
                li.menu-item
                    a(href="result_client-page.php") Отзывы клиентов
                li.menu-item
                    a(href="news-page.php") Новости
                li.menu-item
                    a(href="contacts.php") Контакты

        div.contact-hab

            div.contacts
                a.num(href="tel:+74953171239") +7(495)317-12-39

            div.burger
                div.block1
                div.block2
                div.block3

            div.habmenu
                ul
                    li.menu-item
                        a(href="company-page.php") О компании
                    li.menu-item
                        a(href="services-page.php") Услуги
                    li.menu-item
                        a(href="result_client-page.php") Отзывы клиентов
                    li.menu-item
                        a(href="news-page.php") Новости
                    li.menu-item
                        a(href="contacts.php") Контакты
