section.home-page1

    div.page1-content

        div.slider-position

            div.slider-page1

                div.slide
                    div.bg1
                    div.slide-content
                        h1 Снизим вашу ипотеку до 8,5%
                        p Мы поможем вам снизить процент, уменьшить платежи, изменить валюту платежа и срок ипотеки на законных основаниях.
                        a(href="#")
                            button.button-blue Подробнее

                div.slide
                    div.bg2
                    div.slide-content
                        h1 Получите ипотеку от 8% или без первоначального взноса
                        p Мы поможем вам снизить процент, уменьшить платежи, изменить валюту платежа и срок ипотеки на законных основаниях.
                        a(href="#")
                            button.button-blue Подробнее

                div.slide
                    div.bg3
                    div.slide-content
                        h1 Усилим ваш бизнес потребительским кредитованием
                        p Спецпредложение для федеральных сетей
                        a(href="#")
                            button.button-blue Подробнее

                div.slide
                    div.bg4
                    div.slide-content
                        h1 Получите деньги от банка уже сейчас, а не ждите их от покупателя
                        p Спецпредложение для региональных сетей
                        a(href="#")
                            button.button-blue Подробнее

                div.slide
                    div.bg5
                    div.slide-content
                        h1 Получите деньги от банка уже сейчас, а не ждите их от покупателя
                        p Спецпредложение для не сетевых точек продаж
                        a(href="#")
                            button.button-blue Подробнее

            div.slide-control
                div.control-position
                    img.prewArrow1(src="img/prev.svg")
                    div.dots
                    img.nextArrow1(src="img/next.svg")


