section#services.home-page2.cnt
    div.page2-content.row
        div.page2-head
            h2 Все услуги «ПФ Финанс»

        div.services-blocks
            div.mortgage.services-min
                div.s-bg
                p Рефинансирование ипотеки
                a(href="#")
                    button.button-white Подробнее

            div.credit.services-min
                div.s-bg
                p Ипотечное кредитование
                a(href="#")
                    button.button-white Подробнее

            div.fed-network.services-big
                div.s-bg
                p Потребительское кредитование в федеральных сетях
                a(href="#")
                    button.button-white Подробнее

            div.reg-network.services-min
                div.s-bg
                p Потребительское кредитование в региональных сетях
                a(href="#")
                    button.button-white Подробнее

            div.no-point.services-min
                div.s-bg
                p Потребительское кредитование в не сетевых точках продаж
                a(href="#")
                    button.button-white Подробнее