doctype html
html(lang="en")
    head
        include head
    body
        include header
        include home-page1
        include home-page2
        include home-page3
        include company
        include partners
        include news
        include question
        include contacts
        include footer


