section#news.news.cnt
    div.news-head
        h2 Новости

    div.news-content.row
        div.news-block
            div.news-img
            div.news-text
                p.data 12.12.2048

                h3 Как я сэкономил более 3 миллионов рублей благодаря рефинансированию от «ПФ Финанс»

            div.news-but
                a(href="#") Подробнее
                img(src="img/next.png")


        div.news-block
            div.news-img
            div.news-text
                p.data 12.12.2048

                h3 Как я сэкономил более 3 миллионов рублей благодаря рефинансированию от «ПФ Финанс»

            div.news-but
                a(href="#") Подробнее
                img(src="img/next.png")


        div.news-block
            div.news-img
            div.news-text
                p.data 12.12.2048

                h3 Как я сэкономил более 3 миллионов рублей благодаря рефинансированию от «ПФ Финанс»

            div.news-but
                a(href="#") Подробнее
                img(src="img/next.png")


        div.news-block
            div.news-img
            div.news-text
                p.data 12.12.2048

                h3 Как я сэкономил более 3 миллионов рублей благодаря рефинансированию от «ПФ Финанс»

            div.news-but
                a(href="#") Подробнее
                img(src="img/next.png")


        div.news-block
            div.news-img
            div.news-text
                p.data 12.12.2048

                h3 Как я сэкономил более 3 миллионов рублей благодаря рефинансированию от «ПФ Финанс»

            div.news-but
                a(href="#") Подробнее
                img(src="img/next.png")


        div.news-block
            div.news-img
            div.news-text
                p.data 12.12.2048

                h3 Как я сэкономил более 3 миллионов рублей благодаря рефинансированию от «ПФ Финанс»

            div.news-but
                a(href="#") Подробнее
                img(src="img/next.png")


        a.news-link(href="#")
            button.button-white.new-visible Смотреть все новости