section.partners.cnt
    div.partners-content
        div.partners-head
            h2 Наши партнёры

        div.logo-content
            div.logo-position.row
                img(src="img/sberbank-logo.png")
                img(src="img/vtb-logo.png")
                img(src="img/vtb24-logo.png")
                img(src="img/gazprombank-logo.png")
                img(src="img/vozrozhdenie-logo.png")
                img(src="img/absolut-logo.png")
                img(src="img/aizhk-logo.png")
                img(src="img/deltacredit-logo.png")
                img(src="img/unicredit-logo.png")
                img(src="img/uralsib-logo.png")
                img(src="img/itkryrie-logo.png")
                img(src="img/raiffeisen-logo.png")
                img(src="img/vsk-logo.png")
                img(src="img/pari-logo.png")
                img(src="img/alpha-logo.png")
                img(src="img/neocentr-logo.png")
                img(src="img/srg-logo.png")
                img(src="img/aphill-logo.png")
