section.refinans-block8.cnt
    div.rb8-bg
    div.rb8-content
        div.rb8-head
            h2 Вы можете продолжать платить больше по ипотеке
            p Или узнать как уже через 14 дней начать погашать кредит на самых выгодных условиях.

        form(action="mailer.php" method="post")
            input.inp(placeholder="Ваш контактный телефон" name="phone" required)
            button.button-blue(type="submit") Хочу узнать подробнее
