section.refinans-block9.cnt
    div.rb9-content.row
        div.rb9-head
            h2 О рефинансировании
        div.refinans-text
            p Рефинансировать ипотеку в классическом понимании — значит сменить организацию-кредитора с целью изменения параметров займа.

            p Необходимость рефинансирования ипотечного кредита может быть обусловлена разными факторами – например, изменением зарплатных условий клиента или желанием снизить размер ежемесячных выплат по другим причинам.
                |Рефинансирование ипотеки предусматривает досрочное погашение имеющегося долга средствами, полученными по новому договору на более мягких условиях.

            p Перекредитоваться можно в банке, с которым уже заключен ипотечный договор, либо в любом другом банке, который готов предоставить более выгодные условия.

            p В рамках рефинансирования ипотеки вы с помощью заемных средств погашаете прежний кредит, а затем — в рамках нового, более выгодного договора — постепенно выплачиваете займ.

            p.black-text
                span Результат
                |— уменьшение ежемесячного платежа за счет продления срока выплат или сниженной ставки рефинансирования ипотечных кредитов.

            p Программы рефинансирования ипотеки специально разработаны для потребителей, которые имеют положительную кредитную историю.

            p Важно понимать, что под программу не будут подпадать ранее реструктуризированные ссуды. Положительным образом может повлиять на принятие окончательного решения банком о рефинансировании наличие дополнительного обеспечения займа (привлечение заемщиков).

            p В процессе рассмотрения предоставленной заявки на рефинансирование ипотечного займа банк индивидуально подходит к каждому случаю.
