section.refinans-block6.cnt
    div.rb6-bg
    div.rb6-content
        div.rb6-head
            h2 Оставьте заявку на рефинансирование вашей ипотеки
            p Уже через 14 дней после обращения у вас будет всего от 8,5% по ипотеке

        form(action="mailer.php" method="post")
            input.inp(placeholder="Ваш контактный телефон" name="phone" required)
            button.button-blue(type="submit") Получить консультацию
