section.refinans-block5.cnt
    div.rb5-content.row
        div.rb5-head
            h2 Простая схема работы в 4 шага

        div.diagram-position
            div.nombers
                div.nomber
                    p 1
                div.line
                div.nomber
                    p 2
                div.line
                div.nomber
                    p 3
                div.line
                div.nomber
                    p 4

            div.diagram
                div.diagram-blocks
                    div.diagram-img
                        img(src="img/buttom-img.jpg")
                    div.diagram-text
                        h3 Оформление заявки
                        p Вы заключаете с нами договор и предоставляете пакет документов по действующему кредиту.
                            a.fancybox(href="#thnx") Подробнее
                div.diagram-blocks
                    div.diagram-img
                        img(src="img/gifts-img.jpg")
                    div.diagram-text
                        h3 Получение предложений
                        p Вы получите решение одновременно от нескольких банков и сможете выбрать наиболее выгодные для Вас условия.
                div.diagram-blocks
                    div.diagram-img
                        img(src="img/case-img.jpg")
                    div.diagram-text
                        h3 Совершение сделки
                        p Для выхода на сделку мы собственными силами урегулируем все вопросы с оценочными и страховыми компаниями всего за 3 дня.
                div.diagram-blocks
                    div.diagram-img
                        img(src="img/planset-img.jpg")
                    div.diagram-text
                        h3 Регистрация документов
                        p Наши регистраторы избавят вас от необходимости многократно посещать Росреестр. Ваши проценты по ипотеке снижены!

div.hiddensection
    div#thnx.thnx
       p 1. Заявление-анкета, копия паспорта, трудовой книжки заявителя, созаемщика и поручителя
       p 2. Справка о доходах
       p 3. Копия действующего кредитного договора со всеми дополнениями
       p 4. Выписка по текущему счету за последний год
       p 5. Справка о задолженности, реквизиты счета и т.д
       p Банк в праве запросить дополнительные документы, которые могут быть не указаны в данном списке.
