section.refinans-block1.cnt
    div.rb1-content.row
        div.rd-bg
        div.video-block
            video.bgvideo(autoplay muted)
                source(src="img/videos/anim-01.mov")
        div.headrd1-text
            h2 Снизим вашу ипотеку до 8,5%
            p Мы поможем вам снизить процент, уменьшить платежи, изменить валюту платежа и срок ипотеки на законных основаниях.

        div#form1.form
            form.form-right(method="post" action="mailer.php")
                p Получите бесплатную консультацию сейчас
                input.inp(placeholder="Ваш контактный телефон" name="phone")
                button.button-blue(type="submit") Хочу снизить ипотеку!