section.refinans-block7.cnt
    div.rb7-content.row
        div.rb7-head
            h2 Что мы можем сделать для вас
        div.rb7-infobloks
            div.rb7-infoblok
                div.inf-img
                    img(src="img/good-icon.svg")
                div.inf-text
                    p
                        span Подберём несколько оптимальных программ рефинансирования,
                        |что принесет вам максимальную финансовую выгоду.
            div.rb7-infoblok
                div.inf-img
                    img(src="img/good-icon.svg")
                div.inf-text
                    p
                        span Подадим заявки в несколько банков одновременно,
                        |что сэкономит вам массу времени.
            div.rb7-infoblok
                div.inf-img
                    img(src="img/good-icon.svg")
                div.inf-text
                    p
                        span Возьмём на себя взаимодействие с оценочными и страховыми компаниями,
                        |предложив оптимальные тарифы, что сэкономит вам время и деньги.
            div.rb7-infoblok
                div.inf-img
                    img(src="img/good-icon.svg")
                div.inf-text
                    p Предоставим такие уникальные финансовые инструменты, как дифференцированный платеж или списание основного долга 1 раз в 2 недели.
            div.rb7-infoblok
                div.inf-img
                    img(src="img/good-icon.svg")
                div.inf-text
                    p
                        span Снизим ежемесячный платеж
                        |по кредиту, облегчив вашу финансовую нагрузку, а также сократим срок кредитования,
                        span уменьшив общую переплату по кредиту.
            div.rb7-infoblok
                div.inf-img
                    img(src="img/good-icon.svg")
                div.inf-text
                    p Переведём валютную ипотеку в рублёвую, что принесёт финансовую стабильность.

