doctype html
html(lang="en")
    head
        include head
    body
        include header-blue
        include refinans-block1
        include refinans-block2
        include refinans-block3
        include refinans-block4
        include refinans-block5
        include refinans-block6
        include refinans-block7
        include refinans-block8
        include refinans-block9
        include refinans-block10
        include refinans-block11
        include footer


