section.refinans-block2.cnt
    div.fb2-content.row
        div.info-block
            img(src="img/ipoteka-icon.svg")
            p Снизим ипотеку <br> до 8,5%
        div.info-block
            img(src="img/minpay-icon.svg")
            p Уменьшим <br> платежи в 1,5-2 раза
        div.info-block
            img(src="img/currency-icon.svg")
            p Изменим валюту <br> платежа на рубли
        div.info-block
            img(src="img/calendar-icon.svg")
            p Продлим <br> срок ипотеки