section#services.home-page2.cnt
    div.page2-content.row
        div.page2-head
            h2 Другие услуги «ПФ Финанс»

        div.services-blocks

            div.credit.services-min
                div.s-bg
                p Ипотечное кредитование
                button.button-white Подробнее

            div.fed-network.services-min
                div.s-bg
                p Потребительское кредитование в федеральных сетях
                button.button-white Подробнее

            div.reg-network.services-min
                div.s-bg
                p Потребительское кредитование в региональных сетях
                button.button-white Подробнее

            div.no-point.services-min
                div.s-bg
                p Потребительское кредитование в не сетевых точках продаж
                button.button-white Подробнее