section.refinans-block4.cnt
    div.rb4-content.row
        div.rb4-head
            h2 Оценитие преимущества работы с нами
        div.advantages-blocks
            div.advantages-block
                img(src="img/2-01.svg")
                p Низкие процентные ставки — от 8,5%
            div.advantages-block
                img(src="img/2-02.svg")
                p Рассмотение заявки банками 2-3 дня и такой же быстрый выход на сделку
            div.advantages-block
                img(src="img/2-03.svg")
                p Рефинансируем как рублевую, так и валютную ипотеку
            div.advantages-block
                img(src="img/2-04.svg")
                p Урегулирование фактов допущения просроченной задолженности
            div.advantages-block
                img(src="img/2-05.svg")
                p Регистрация документов в Росреестре
            div.advantages-block
                img(src="img/2-06.svg")
                p Оплата наших услуг по факту выполненных работ
