section.federal-block11.cnt
    div.fb11-bg
    div.fb11-content
        div.fb11-head
            h2 Получите специальное предложение для вашей региональной сети
            p Уже через 14 дней или раньше ваши покупатели смогут оформлять кредит у вас в магазине

        form(action="mailer.php" method="post")
            input.inp(placeholder="Ваш контактный телефон" name="phone" required)
            button.button-blue(type="submit") Получить консультацию