doctype html
html(lang="en")
    head
        include head
    body
        include header-blue

        section#reviews.home-page3.cnt
            div.page3-content.row
                div.page3-head
                    h2 Результаты клиентов

                div.table-result
                    div.table-head
                        div.text-left
                            p Рефинансирование ипотеки
                        div.switch
                            div.switch-tap

                        div.text-right
                            p Ипотечное кредитование


                    div.table-review
                        div.table1.table-visible
                            div.result-block
                                div.table
                                    div.table-position
                                        table
                                            tr
                                                th
                                                    img(src="img/bad-icon.svg")
                                                    p Было
                                            tr
                                                td
                                                    p Ежемесячный платёж:
                                                    span 56 350 руб.
                                            tr
                                                td
                                                    p Ставка по ипотеке:
                                                    span 14,9%
                                            tr
                                                td
                                                    p Срок ипотеки:
                                                    span до 2034 года (20 лет)
                                            tr
                                                td
                                                    p Сумма переплаты:
                                                    span 9 249 940 руб.

                                        table
                                            tr
                                                th
                                                    img(src="img/good-icon.svg")
                                                    p Стало
                                            tr
                                                td
                                                    p Ежемесячный платёж:
                                                    span 44 440 руб.
                                            tr
                                                td
                                                    p Ставка по ипотеке:
                                                    span 10,9%
                                            tr
                                                td
                                                    p Срок ипотеки:
                                                    span до 2034 года (19 лет)
                                            tr
                                                td
                                                    p Сумма переплаты:
                                                    span 6 527 318 руб.


                                    div.cash
                                        p.green-text Экономия:
                                        p.green-text 2 722 622 руб.

                                div.review
                                    div.review-head
                                        h3 Отзыв клиента
                                    div.review-text
                                        p «Обратился в компанию в конце декабря,  чтобы рефинансировать свой ипотечный кредит, так как у меня была очень большая процентная ставка. Сотрудники компании очень оперативно снизили ставку на 4%, и уже в новый год я вошел с более низким платежом. В итоге это позволит мне сэкономить более 2 миллионов рублей. Спасибо ребятам за оперативную помощь.»

                                        div.persone
                                            img(src="img/photo-pavel.png")
                                            p Павел Александрович
                                                span  г.Москва




                            div.result-block
                                div.table
                                    div.table-position
                                        table
                                            tr
                                                th
                                                    img(src="img/bad-icon.svg")
                                                    p Было
                                            tr
                                                td
                                                    p Ежемесячный платёж:
                                                    span 56 350 руб.
                                            tr
                                                td
                                                    p Ставка по ипотеке:
                                                    span 14,9%
                                            tr
                                                td
                                                    p Срок ипотеки:
                                                    span до 2034 года (20 лет)
                                            tr
                                                td
                                                    p Сумма переплаты:
                                                    span 9 249 940 руб.

                                        table
                                            tr
                                                th
                                                    img(src="img/good-icon.svg")
                                                    p Стало
                                            tr
                                                td
                                                    p Ежемесячный платёж:
                                                    span 44 440 руб.
                                            tr
                                                td
                                                    p Ставка по ипотеке:
                                                    span 10,9%
                                            tr
                                                td
                                                    p Срок ипотеки:
                                                    span до 2034 года (19 лет)
                                            tr
                                                td
                                                    p Сумма переплаты:
                                                    span 6 527 318 руб.


                                    div.cash
                                        p.green-text Экономия:
                                        p.green-text 2 722 622 руб.

                                div.review
                                    div.review-head
                                        h3 Отзыв клиента
                                    div.review-text
                                        p «Осенью увидел рекламу о компании и решил позвонить. До этого в конце 2014 г. взял почти 4 миллиона по высокой ставке, как раз когда грянул кризис. Но выхода не было и пришлось решать жилищный вопрос, несмотря на большой процент. Сотрудники сделали мне плавающую ставку. Сейчас у меня 8,5%, а платеж с 54 тыс. снизился до 40 тыс. Самое интересное, что платеж не изменится даже при повышении ставки. Спасибо!!!!»

                                        div.persone
                                            img(src="img/photo-sergei.png")
                                            p Сергей
                                                span  г. Лобня


                            div.result-block
                                div.table
                                    div.table-position
                                        table
                                            tr
                                                th
                                                    img(src="img/bad-icon.svg")
                                                    p Было
                                            tr
                                                td
                                                    p Ежемесячный платёж:
                                                    span 56 350 руб.
                                            tr
                                                td
                                                    p Ставка по ипотеке:
                                                    span 14,9%
                                            tr
                                                td
                                                    p Срок ипотеки:
                                                    span до 2034 года (20 лет)
                                            tr
                                                td
                                                    p Сумма переплаты:
                                                    span 9 249 940 руб.

                                        table
                                            tr
                                                th
                                                    img(src="img/good-icon.svg")
                                                    p Стало
                                            tr
                                                td
                                                    p Ежемесячный платёж:
                                                    span 44 440 руб.
                                            tr
                                                td
                                                    p Ставка по ипотеке:
                                                    span 10,9%
                                            tr
                                                td
                                                    p Срок ипотеки:
                                                    span до 2034 года (19 лет)
                                            tr
                                                td
                                                    p Сумма переплаты:
                                                    span 6 527 318 руб.


                                    div.cash
                                        p.green-text Экономия:
                                        p.green-text 2 722 622 руб.

                                div.review
                                    div.review-head
                                        h3 Отзыв клиента
                                    div.review-text
                                        p «Друг посоветовал мне обратиться в ПФ Финанс, чтобы улучшить условия по ипотеке. Я брал с ним кредит одновременно под 15% годовых. В данный момент у него 11,5%, а мне вообще повезло –  попал под новогоднюю акцию, моя ставка с 15% уменьшилась до 10,9%. Выгода колоссальная! Спасибо другу за совет, а ПФ Финанс за помощь.»

                                        div.persone
                                            img(src="img/artur-photo.png")
                                            p Артур
                                                span  г.Москва


                            div.result-block
                                div.table
                                    div.table-position
                                        table
                                            tr
                                                th
                                                    img(src="img/bad-icon.svg")
                                                    p Было
                                            tr
                                                td
                                                    p Ежемесячный платёж:
                                                    span 56 350 руб.
                                            tr
                                                td
                                                    p Ставка по ипотеке:
                                                    span 14,9%
                                            tr
                                                td
                                                    p Срок ипотеки:
                                                    span до 2034 года (20 лет)
                                            tr
                                                td
                                                    p Сумма переплаты:
                                                    span 9 249 940 руб.

                                        table
                                            tr
                                                th
                                                    img(src="img/good-icon.svg")
                                                    p Стало
                                            tr
                                                td
                                                    p Ежемесячный платёж:
                                                    span 44 440 руб.
                                            tr
                                                td
                                                    p Ставка по ипотеке:
                                                    span 10,9%
                                            tr
                                                td
                                                    p Срок ипотеки:
                                                    span до 2034 года (19 лет)
                                            tr
                                                td
                                                    p Сумма переплаты:
                                                    span 6 527 318 руб.


                                    div.cash
                                        p.green-text Экономия:
                                        p.green-text 2 722 622 руб.

                                div.review
                                    div.review-head
                                        h3 Отзыв клиента
                                    div.review-text
                                        p «Я купил за 5 млн. квартиру в начале 2016 года, ипотеку оформил в Сбере под 16,5%. Давно думал о том, чтобы снизить платежи по кредиту, но отпугивала повторная волокита с документами и нехватка свободного времени. Величко Алексей организовал работу так, что в банк я приехал только на сделку. На все про все ушло 10 дней. Алексей, спасибо!»

                                        div.persone
                                            img(src="img/rustam-photo.png")
                                            p Руслан
                                                span  г.Москва


                            div.result-block
                                div.table
                                    div.table-position
                                        table
                                            tr
                                                th
                                                    img(src="img/bad-icon.svg")
                                                    p Было
                                            tr
                                                td
                                                    p Ежемесячный платёж:
                                                    span 56 350 руб.
                                            tr
                                                td
                                                    p Ставка по ипотеке:
                                                    span 14,9%
                                            tr
                                                td
                                                    p Срок ипотеки:
                                                    span до 2034 года (20 лет)
                                            tr
                                                td
                                                    p Сумма переплаты:
                                                    span 9 249 940 руб.

                                        table
                                            tr
                                                th
                                                    img(src="img/good-icon.svg")
                                                    p Стало
                                            tr
                                                td
                                                    p Ежемесячный платёж:
                                                    span 44 440 руб.
                                            tr
                                                td
                                                    p Ставка по ипотеке:
                                                    span 10,9%
                                            tr
                                                td
                                                    p Срок ипотеки:
                                                    span до 2034 года (19 лет)
                                            tr
                                                td
                                                    p Сумма переплаты:
                                                    span 6 527 318 руб.


                                    div.cash
                                        p.green-text Экономия:
                                        p.green-text 2 722 622 руб.

                                div.review
                                    div.review-head
                                        h3 Отзыв клиента
                                    div.review-text
                                        p «Оформил ипотечный кредит 2 года назад на 20 лет. Платеж меня устраивал, но на перекуре услышал разговор коллег о том, как можно уменьшить срок кредита, при этом оставить платеж такой же. Обратившись в компанию,  мне сократили срок почти в 2 раза, а моя переплата уменьшилась с 8 миллионов  до 3,6. Радуюсь до сих пор. Удачи Вам и спасибо, что сэкономили мои деньги!»

                                        div.persone
                                            img(src="img/nikolay-photo.png")
                                            p Николай Владимирович
                                                span  г. Одинцово


                            div.result-block
                                div.table
                                    div.table-position
                                        table
                                            tr
                                                th
                                                    img(src="img/bad-icon.svg")
                                                    p Было
                                            tr
                                                td
                                                    p Ежемесячный платёж:
                                                    span 56 350 руб.
                                            tr
                                                td
                                                    p Ставка по ипотеке:
                                                    span 14,9%
                                            tr
                                                td
                                                    p Срок ипотеки:
                                                    span до 2034 года (20 лет)
                                            tr
                                                td
                                                    p Сумма переплаты:
                                                    span 9 249 940 руб.

                                        table
                                            tr
                                                th
                                                    img(src="img/good-icon.svg")
                                                    p Стало
                                            tr
                                                td
                                                    p Ежемесячный платёж:
                                                    span 44 440 руб.
                                            tr
                                                td
                                                    p Ставка по ипотеке:
                                                    span 10,9%
                                            tr
                                                td
                                                    p Срок ипотеки:
                                                    span до 2034 года (19 лет)
                                            tr
                                                td
                                                    p Сумма переплаты:
                                                    span 6 527 318 руб.


                                    div.cash
                                        p.green-text Экономия:
                                        p.green-text 2 722 622 руб.

                                div.review
                                    div.review-head
                                        h3 Отзыв клиента
                                    div.review-text
                                        p «Я работала в Промсвязьбанке в отделе кадров и решила взять ипотеку на льготных условиях. Как  сотруднику мне выдали 3,5 миллиона под 11,5%. Но когда мне пришлось уволиться, процент подняли до 14-ти. Стало очень некомфортно ежемесячно платить на 7 000 больше ((  С каждым новым платежом у меня все больше болела голова, на что я могла бы потрать разницу. В итоге решила поискать в интернете, как можно снизить платеж, и решила обратиться в ПФ Финанс. Очень удобно было, что как и в Промсвязи, мне не пришлось мотаться по банкам, страховым, оценочным и всю работу сотрудники компании сделали за меня.»

                                        div.persone
                                            img(src="img/natasha-photo.png")
                                            p Наталья
                                                span  г. Одинцово






                        div.table2.table-novisible
                            div.result-block
                                div.review
                                    div.review-head
                                        h3 Отзыв клиента
                                    div.review-text
                                        p «Обратился в компанию в конце декабря,  чтобы рефинансировать свой ипотечный кредит, так как у меня была очень большая процентная ставка. Сотрудники компании очень оперативно снизили ставку на 4%, и уже в новый год я вошел с более низким платежом. В итоге это позволит мне сэкономить более 2 миллионов рублей. Спасибо ребятам за оперативную помощь.»

                                        div.persone
                                            img(src="img/photo-pavel.png")
                                            p Павел Александрович
                                                span  г.Москва

                                div.review
                                    div.review-head
                                        h3 Отзыв клиента
                                    div.review-text
                                        p «Осенью увидел рекламу о компании и решил позвонить. До этого в конце 2014 г. взял почти 4 миллиона по высокой ставке, как раз когда грянул кризис. Но выхода не было и пришлось решать жилищный вопрос, несмотря на большой процент. Сотрудники сделали мне плавающую ставку. Сейчас у меня 8,5%, а платеж с 54 тыс. снизился до 40 тыс. Самое интересное, что платеж не изменится даже при повышении ставки. Спасибо!!!!»

                                        div.persone
                                            img(src="img/photo-sergei.png")
                                            p Сергей
                                                span  г. Лобня

                            div.result-block
                                div.review
                                    div.review-head
                                        h3 Отзыв клиента
                                    div.review-text
                                        p «Друг посоветовал мне обратиться в ПФ Финанс, чтобы улучшить условия по ипотеке. Я брал с ним кредит одновременно под 15% годовых. В данный момент у него 11,5%, а мне вообще повезло –  попал под новогоднюю акцию, моя ставка с 15% уменьшилась до 10,9%. Выгода колоссальная! Спасибо другу за совет, а ПФ Финанс за помощь.»

                                        div.persone
                                            img(src="img/artur-photo.png")
                                            p Артур
                                                span  г.Москва

                                div.review
                                    div.review-head
                                        h3 Отзыв клиента
                                    div.review-text
                                        p «Я купил за 5 млн. квартиру в начале 2016 года, ипотеку оформил в Сбере под 16,5%. Давно думал о том, чтобы снизить платежи по кредиту, но отпугивала повторная волокита с документами и нехватка свободного времени. Величко Алексей организовал работу так, что в банк я приехал только на сделку. На все про все ушло 10 дней. Алексей, спасибо!»

                                        div.persone
                                            img(src="img/rustam-photo.png")
                                            p Руслан
                                                span  г.Москва

                            div.result-block
                                div.review
                                    div.review-head
                                        h3 Отзыв клиента
                                    div.review-text
                                        p «Оформил ипотечный кредит 2 года назад на 20 лет. Платеж меня устраивал, но на перекуре услышал разговор коллег о том, как можно уменьшить срок кредита, при этом оставить платеж такой же. Обратившись в компанию,  мне сократили срок почти в 2 раза, а моя переплата уменьшилась с 8 миллионов  до 3,6. Радуюсь до сих пор. Удачи Вам и спасибо, что сэкономили мои деньги!»

                                        div.persone
                                            img(src="img/nikolay-photo.png")
                                            p Николай Владимирович
                                                span  г. Одинцово

                                div.review
                                    div.review-head
                                        h3 Отзыв клиента
                                    div.review-text
                                        p «Я работала в Промсвязьбанке в отделе кадров и решила взять ипотеку на льготных условиях. Как  сотруднику мне выдали 3,5 миллиона под 11,5%. Но когда мне пришлось уволиться, процент подняли до 14-ти. Стало очень некомфортно ежемесячно платить на 7 000 больше ((  С каждым новым платежом у меня все больше болела голова, на что я могла бы потрать разницу. В итоге решила поискать в интернете, как можно снизить платеж, и решила обратиться в ПФ Финанс. Очень удобно было, что как и в Промсвязи, мне не пришлось мотаться по банкам, страховым, оценочным и всю работу сотрудники компании сделали за меня.»

                                        div.persone
                                            img(src="img/natasha-photo.png")
                                            p Наталья
                                                span  г. Одинцово


        include question
        include footer





